.pizza-bg {
  height: 100vh;
}

/* .pizza-stretch {
  width: 90%;
} */

.overflow-row {
  display: flex;

  transform: translateX(-64%);
}

.img-flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
