.pizza-bg {
  width: 100%;
  /* height: 91vh; */
}

.pizza-vertical-bg {
  display: none;
}

.order-vertical-btn {
  display: none;
}

.img-flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.pizza-box {
  position: relative;
  top: 0;
  left: 0;
}

.toppings {
  position: absolute;
  top: 0;
  left: 0;
}

.btn-custom {
  color: #1b1b1e;
  background-color: #faa916;
  border-color: #faa916;
  /* border: 1px solid #1b1b1e; */

  font-weight: 500;
}

.order-btn {
  position: absolute;
  top: 20%;
  left: 65%;
}

.modal-header {
  color: #fbfffe;
  background-color: #96031a;
}

.modal-dialog {
  max-width: 500px;
}

#modal-dialog-thank-you {
  width: 500px;
}

.close {
  color: #fbfffe;
}

.navbar {
  padding: 1rem 2rem;
}

.navbar-brand {
  font-size: 2rem;
}

.navbar-off-white {
  color: #fbfffe;
}

.bg-raisin-black {
  background-color: #1b1b1e;
}

.btn-outline-success {
  color: #fbfffe;
  border-color: #fbfffe;
}

.btn-outline-success:hover {
  color: #fbfffe;
  border-color: #fbfffe;
  background-color: #faa916;
}

.border {
  border: 1px solid black;
}

.border-left-line {
  border-left: 1px solid #6d676e;
}

.border-btm-line {
  border-bottom: 1px solid #6d676e;
}

.direction-column {
  display: flex;
  flex-direction: column;
}

.pizza-size-button {
  height: 20px;
  width: 20px;
}

.pepperoni-btn {
  position: absolute;
  top: 30%;
  left: 65%;
}

.pepperoni-vertical-btn {
  display: none;
}

.meat-btn {
  position: absolute;
  top: 40%;
  left: 65%;
}

.meat-vertical-btn {
  display: none;
}

.veggie-btn {
  position: absolute;
  top: 50%;
  left: 65%;
}

.veggie-vertical-btn {
  display: none;
}

.supreme-btn {
  position: absolute;
  top: 60%;
  left: 65%;
}

.supreme-vertical-btn {
  display: none;
}

.allout-btn {
  position: absolute;
  top: 70%;
  left: 65%;
}

.allout-vertical-btn {
  display: none;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

@media all and (max-width: 775px) {
  .pizza-bg {
    display: none;
  }
  .pizza-vertical-bg {
    display: block;
    position: relative;
    width: 100%;
    /* height: 91vh; */
  }

  .order-btn {
    display: none;
  }

  .order-vertical-btn {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 35%;
    transform: translate(-50%, -50%);
  }

  .pepperoni-btn {
    display: none;
  }

  .pepperoni-vertical-btn {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%, -50%);
  }

  .meat-btn {
    display: none;
  }

  .meat-vertical-btn {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translate(-50%, -50%);
  }

  .veggie-btn {
    display: none;
  }

  .veggie-vertical-btn {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);
  }

  .supreme-btn {
    display: none;
  }

  .supreme-vertical-btn {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, -50%);
  }

  .allout-btn {
    display: none;
  }

  .allout-vertical-btn {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%);
  }

  .modal-dialog {
    max-width: 100%;
  }

  #modal-dialog-thank-you {
    width: 90%;
  }

  body {
    font-size: 0.75rem;
  }
}

@media all and (max-width: 350px) {
  body {
    font-size: 0.5rem;
  }
  .pizza-size-button {
    height: 15px;
    width: 15px;
  }
}

.modal-footer {
  justify-content: space-between;
}

/* 
Colors:
FAA916 - yellow
FBFFFE - white
6D676E - dim gray
1B1B1E - raisin black
96031A - carmine (red)
 */
/*# sourceMappingURL=style.css.map */
